body {
    background-color: grey;
    overflow: hidden;
}

.board-background {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/game-background.png");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.board-square {
    width: 38.875rem;
    height: 40.625rem;
    border-radius: 1.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 9.875rem;
    gap: 1.875rem;
}

.empty-box {
    background-image: url("./images/empty.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.zero-box {
    background-image: url("./images/cero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.x-box {
    background-image: url("./images/cross.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-left-border-rounded {

    border-top-left-radius: 1.25rem;
}

.top-right-border-rounded {

    border-top-right-radius: 1.25rem;
}

.bottom-left-border-rounded {
    border-bottom-left-radius: 1.25rem;
}

.bottom-right-border-rounded {
    border-bottom-right-radius: 1.25rem;
}