body {
    background-color: grey;
    overflow: hidden;
}

.board-background {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/game-background.png");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.board-square {
    width: 622px;
    height: 650px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 158px;
    gap: 30px;
}

.empty-box {
    background-image: url("../assets/empty.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.zero-box {
    background-image: url("../assets/cero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.x-box {
    background-image: url("../assets/cross.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-left-border-rounded {

    border-top-left-radius: 20px;
}

.top-right-border-rounded {

    border-top-right-radius: 20px;
}

.bottom-left-border-rounded {
    border-bottom-left-radius: 20px;
}

.bottom-right-border-rounded {
    border-bottom-right-radius: 20px;
}